<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/DeliFast logo.png" alt="hola" class="header-logo">
    </div>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Datos personales</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input label="Nombre" labelPlacement="floating" placeholder="Edite su nombre"
            [(ngModel)]="nombre" >
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Apellido" labelPlacement="floating" placeholder="Edite su apellido"
            [(ngModel)]="apellido">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Correo" labelPlacement="floating" placeholder="Edite su correo"
            [(ngModel)]="correo">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Numero de Telefóno" labelPlacement="floating" placeholder="Edite su telefóno"
            [(ngModel)]="telefono!">
          </ion-input>
        </ion-item>
        <br>

        <ion-button (click)="Aceptar()" class="submit-button" expand="block">
          Actualizar información
        </ion-button>

        <br>

        <ion-button (click)="Eliminar()" class="submit-button2" expand="block">
          Eliminar cuenta
          
        </ion-button>
      </ion-card-content>
    </ion-card>
  </div>

</ion-content>