<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/DeliFast logo.png" alt="hola" class="header-logo">
    </div>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <h2 class="welcome-title">¡Bienvenido a DeliFast!</h2>

      <!-- Mostrar botón de Iniciar Sesión si no está autenticado -->
      <div *ngIf="!isLoggedIn">
        <ion-button expand="block" [routerLink]="['/login']">
          <ion-icon name="log-in-outline" slot="start"></ion-icon>
          Iniciar Sesión
        </ion-button>
      </div>

      <!-- Mostrar botones de Editar Perfil y Cerrar Sesión si está autenticado -->
      <div *ngIf="isLoggedIn">
        <ion-button expand="block" [routerLink]="['/editarperfil']">
          <ion-icon name="create-outline" slot="start"></ion-icon>
          Editar Perfil
        </ion-button>
        <ion-button expand="block" (click)="cerrarSesion()">
          <ion-icon name="log-out-outline" slot="start"></ion-icon>
          Cerrar Sesión
        </ion-button>

        <ion-button *ngIf="isAdmin" expand="block" [routerLink]="['/menu-crud']">
          <ion-icon name="settings-outline" slot="start"></ion-icon>
          Modo Admin
        </ion-button>

      </div>

      <div class="social-icons">
        <ion-icon name="logo-facebook" size="large"></ion-icon>
        <ion-icon name="logo-google" size="large"></ion-icon>
        <ion-icon name="mail-outline" size="large"></ion-icon>
      </div>

      <h3 class="account-title">Cuenta</h3>

      <ion-button expand="block" [routerLink]="['/verpedido']">
        <ion-icon name="restaurant-outline" slot="start"></ion-icon>
        Ver mis Pedidos
      </ion-button>

      <ion-button expand="block" [routerLink]="['/nosotros']">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        Ayuda
      </ion-button>

      <ion-button expand="block" [routerLink]="['/terminos-condi']">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        Términos legales
      </ion-button>
    
    </ion-card-content>
  </ion-card>
</ion-content>
<app-componente1></app-componente1>
