<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Perfil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="welcome-card">
    <ion-card-content>
      <h2 class="welcome-title">¡Bienvenido/a a DeliFast!</h2>
      <ion-button expand="block" color="primary" [routerLink]="['/login']">Iniciar Sesión</ion-button>
      <ion-button expand="block" color="primary" [routerLink]="['/register']">Registrarse</ion-button>

      <div class="social-icons">
        <ion-icon name="logo-facebook" size="large"></ion-icon>
        <ion-icon name="logo-google" size="large"></ion-icon>
        <ion-icon name="mail-outline" size="large"></ion-icon>
      </div>

      <h3 class="account-title">Cuenta</h3>

      <ion-button expand="block" color="medium">
        <ion-icon name="restaurant-outline" slot="start"></ion-icon>
        Pedidos
      </ion-button>

      <ion-button expand="block" color="medium">
        <ion-icon name="help-circle-outline" slot="start"></ion-icon>
        Ayuda
      </ion-button>

      <ion-button expand="block" color="medium">
        <ion-icon name="document-text-outline" slot="start"></ion-icon>
        Términos legales
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>

