ion-content {
    --background: url(https://i.pinimg.com/564x/e1/77/0a/e1770a501f59d5aee6798e68ce67254e.jpg);
}


ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    background-color: #797979;
    color: #FFFFFF;
    --ion-background-color: #000000;
    --ion-color-base: #FFFFFF;

    .logo-container {
        display: flex;
        align-items: center;
        position: absolute;
        right: 6px;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .header-logo {
        height: 45px;
        width: auto;
        top: 35px;
    }

    ion-title {
        margin-left: auto;
        font-size: 18px;
        font-weight: normal;

    }
}

/* Estilos de tarjetas de detalle */
.detalles-container {
    padding: 15px;
}

.detalle-card {
    background-color: rgba(0, 0, 0, 0.9); /* Fondo negro con transparencia */
    color: #ffffff; /* Texto blanco */
    border-radius: 8px;
    margin-bottom: 15px;
    box-shadow: 0px 4px 8px rgba(255, 255, 255, 0.2); /* Sombra suave */
}

.card-header {
    background-color: #FFD700; /* Fondo dorado */
    color: #000000; /* Texto negro */
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    padding: 8px;
}

ion-card-title {
    font-size: 1.1em;
    font-weight: bold;
    color: #000000; /* Texto blanco en el título */
}

ion-card-content p {
    margin: 6px 0;
    font-size: 0.95em;
    color: #ffffff; /* Texto blanco en los contenidos */
}

.card-text {
    color: #ffffff; /* Texto blanco para los detalles */
    font-weight: normal;
}
