ion-content {
    --background: url(https://i.pinimg.com/564x/e1/77/0a/e1770a501f59d5aee6798e68ce67254e.jpg);
}


ion-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 14px;
    background-color: #797979;
    color: #FFFFFF;
    --ion-background-color: #000000;
    --ion-color-base: #FFFFFF;

    .logo-container {
        display: flex;
        align-items: center;
        position: absolute;
        right: 6px;
        top: 0;
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .header-logo {
        height: 45px;
        width: auto;
        top: 35px;
    }

    ion-title {
        margin-left: auto;
        font-size: 18px;
        font-weight: normal;
       
    }
}