<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/DeliFast logo.png" alt="DeliFast Logo" class="header-logo">
    </div>
    <ion-title>Términos y Condiciones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card class="about-card">
    <div class="terms-container" *ngIf="terms?.content">
      <!-- Mostrar el título -->
      <h1 class="terms-title">{{ terms.title }}</h1>

      <!-- Iterar sobre los párrafos de los términos y condiciones -->
      <div *ngFor="let paragraph of terms.content">
        <p class="terms-text">{{ paragraph.paragraph }}</p>
      </div>
    </div>
  </ion-card>
</ion-content>

<app-componente1></app-componente1>
