<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
  
    <ion-card-content>
      <ion-button (click)="irMenudeli()" >Retiro en local</ion-button>
      <ion-button (click)="irMenucaja()">Envío a domicilio</ion-button>
    </ion-card-content>
    <ion-buttons >
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button><!-- hacer que se vea la hamburguesa  -->
      <ion-back-button></ion-back-button><!-- hacer que se vea la hmburguesa  -->
    </ion-buttons>
  </ion-card>
</ion-content>
