.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: -1;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto; 
  padding: 0 16px;
  position: absolute;
  bottom: 20px; 
  width: 90%; 
  left: 50%; 
  transform: translateX(-50%); 

  ion-button {
    margin: 10px 0;
    width: 100%;
    font-size: 1.2rem; 
    padding: 12px; 
  }
}

ion-content {
  --background: url(https://i.pinimg.com/564x/e1/77/0a/e1770a501f59d5aee6798e68ce67254e.jpg);
}

ion-card {
  background-color: #000000;
  color: #3b3b3b;
  width: 75%;
  padding: 10px;
  position: absolute; 
  top: 75%; 
  left: 50%; 
  transform: translate(-50%, -50%); 
}


ion-tab-bar {
  --background: #000000;
  --color: #fdfdfd;
}

ion-icon {
  color: #f1f1f1;
}


.background-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  z-index: -1;
}

.action-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: auto;
  padding: 0 16px;
  position: absolute;
  bottom: 20px;
  width: 100%;
  left: 50%;
  transform: translateX(-50%);
}

ion-button {
  margin: 10px 0;
  width: 100%;
  font-size: 1.5rem;
  padding: 16px;
  --background: #fcc309;
  --color: #ffffff;
}

ion-toolbar {
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  padding: 0 16px; 
  background-color: #797979; 
  color: #FFFFFF; 
  --ion-background-color: #0a0a0a; 
  --ion-color-base: #FFFFFF; 

  .logo-container {
    display: flex;
    align-items: center;
    position: absolute; 
    right: 8px; 
    top: 0; 
    height: 100%; 
    display: flex;
    justify-content: center; 
  }

  .header-logo {
    height: 50px; 
    width:auto; 
    top: 40px; 
  }

  ion-title {
    margin-left: auto; 
  }
}







