<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/DeliFast logo.png" alt="hola" class="header-logo">
    </div>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingrese su cupón</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input label="Codigo" labelPlacement="floating"
            placeholder="Ingrese correo electrónico" [(ngModel)]="cupon" type="email">
          </ion-input>
        </ion-item>
        <br> 
        <ion-button (click)="Canjearcupon()" expand="full" class="submit-button">Aplicar Cupón</ion-button>
      </ion-card-content>
    </ion-card>
    <swiper-container
  [pagination]="{ clickable: true }"
  [navigation]="true"
  [loop]="true"
  class="my-swiper"
>
  <swiper-slide>
    <div >
      <img src="../assets/icon/pann.png" alt="Image 1" >
    </div>
  </swiper-slide>
  <swiper-slide>
    <div >
      <img src="../assets/icon/sorteoo.png" alt="Image 2" >
    </div>
  </swiper-slide>
  <swiper-slide>
    <div >
      <img src="../assets/icon/cuponn.png" alt="Image 3" >
    </div>
  </swiper-slide>

  <!-- Flechas de navegación -->
  <div ></div>
  <div></div>
</swiper-container>
</ion-content>

