<ion-header>
  <ion-toolbar>
    <ion-title>Cupones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="coupon-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title>Ingrese su cupón</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-label position="floating">Código del cupón</ion-label>
          <ion-input type="text"></ion-input>
        </ion-item>
        <ion-button expand="full" color="primary">Aplicar Cupón</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ion-footer>
  <ion-tab-bar slot="bottom">
    <ion-tab-button [routerLink]="['/inicio']">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/cupones']">
      <ion-icon name="pricetags-outline"></ion-icon>
      <ion-label>Cupones</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/carrito']">
      <ion-icon name="cart-outline"></ion-icon>
      <ion-label>Carrito</ion-label>
    </ion-tab-button>

    <ion-tab-button [routerLink]="['/perfil']">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-footer>