<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/DeliFast logo.png" alt="" class="header-logo">
    </div>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">¡Bienvenido/a a DeliFast!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input label="Correo electrónico" labelPlacement="floating" placeholder="Ingrese correo electrónico"
            [(ngModel)]="correo" type="email">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña"
            [(ngModel)]="contra" type="password">
          </ion-input>
        </ion-item>
      
        <ion-button (click)="irInicio()" class="submit-button" expand="block">
          Iniciar Sesión
        </ion-button>
        
        <div class="links-container">
          <a [routerLink]="['/register']">¿No tienes cuenta?</a>
          <a [routerLink]="['/recuperarcontra']">¿Olvidaste tu contraseña?</a>
        </div>
        
      </ion-card-content>
    </ion-card>
  </div>
  
</ion-content>