<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Iniciar Sesión</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="login-container">
    <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">¡Bienvenido/a a DeliFast!</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-item>
          <ion-input label="Correo electrónico" labelPlacement="floating" placeholder="Ingrese correo electrónico"
            [(ngModel)]="correo" type="email">
          </ion-input>
        </ion-item>

        <ion-item>
          <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña"
            [(ngModel)]="password" type="password">
          </ion-input>
        </ion-item>

        <ion-button (click)="irPagina()" class="submit-button" expand="block">
          Iniciar Sesión
        </ion-button>
        <br>
        <a [routerLink]="['/register']">¿No tienes una cuenta?</a>

      </ion-card-content>
    </ion-card>
  </div>

</ion-content>