<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/DeliFast logo.png" alt="hola" class="header-logo">
    </div>
    <ion-title>Registrarse</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
 <div class="login-container">
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Registro</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <ion-item>
          <ion-input label="Nombre" labelPlacement="floating" placeholder="Ingrese su nombre" [(ngModel)]="nombre"></ion-input>
        </ion-item> 

        <ion-item>
          <ion-input label="Apellido" labelPlacement="floating" placeholder="Ingrese su apellido" [(ngModel)]="apellido"></ion-input>
        </ion-item> 

        <ion-item>
          <ion-input label="Correo electrónico" labelPlacement="floating" placeholder="Ingrese correo electrónico" type="email" [(ngModel)]="correo"></ion-input>
        </ion-item> 

        <ion-item>
          <ion-input label="Contraseña" labelPlacement="floating" placeholder="Ingrese su contraseña" type="password" [(ngModel)]="contra"></ion-input>
        </ion-item> 

        <ion-button (click)="irPagina()" class="submit-button" expand="block">
          Registrarse
        </ion-button>
        <br>
        <a [routerLink]="['/login']">¿Ya tienes una cuenta?</a>
    </ion-card-content>
  </ion-card>
</div>
</ion-content>
