<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <div class="logo-container">
      <img src="../assets/icon/DeliFast logo.png" alt="hola" class="header-logo">
    </div>
    <ion-title></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="empty-cart-content">
  <ion-card>
    <ion-card-header>
      <ion-icon name="cart-outline" class="cart-icon"></ion-icon>
      <p>Tu carrito está vacío</p>
      <p class="explore-text">¿Qué esperas? Explora nuestro menú y empieza a comprar.</p>
      <ion-button expand="block" [routerLink]="['/menu-caja']" class="explore-button">Explorar menú</ion-button>
      
    </ion-card-header>
  </ion-card>
</ion-content>