<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center">Página no encontrada</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="notfound-container">
    <ion-icon name="alert-circle-outline" class="notfound-icon"></ion-icon>
    <h1 class="notfound-title">Error 404</h1>
    <p class="notfound-message">La página que buscas no existe o no tienes acceso.</p>
    <ion-button class="notfound-button" [routerLink]="['/login']">Volver al Login</ion-button>
  </div>
</ion-content>